#counter2 {
    margin-left: 28%;
}

#counter1 {
    margin-left: 14%;
}

.btn {
    width: 90%;
    font-weight: bold;
}


#submitt {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 6%;
    border: none;
    outline: none;
    background: url(toss.jpg);
}

#response {
    text-align: center;
    margin-right: -20px;
    margin-top: 3%;
}

.btn-light {
    margin-top: 20px;
    width: 23%;
    margin-bottom: 5%;
}

#submit {
    float: right;
    display: inline;
    margin-right: 21%;
}

#submi {
    float: left;
    display: inline;
    margin-left: 20%;
}

h3 {
    color: rgba(15, 15, 15, 0.808) !important;
}

.fa-info-circle {
    color: white;
}

h5 {
    color: rgb(0, 0, 0) !important;
}

ol {
    color: black !important;
}

#summary {
    background-color: rgb(28, 189, 100);
    padding: 8px 6px;
}

.team-name {
    background-color: rgba(121, 121, 121, 0.555) !important;
}

#t1 {
    margin-left: 15%;
}

.teama {
    color: rgb(255, 89, 255);
}

.teamb {
    color: rgb(52, 198, 255);
}

#t2 {
    margin-right: 15%;
}

.t1 {
    margin-left: 15%;
}

.t2 {
    margin-right: 15%;
}

.btn-primary {
    margin-top: 20px;
    width: 30%;
    float: right;
    margin-right: 10%;
    display: inline;
}

#result {
    margin-left: -10px !important;
}

.btn-info {
    margin-top: 20px;
    width: 35%;
    float: left;
    display: inline;
    margin-left: 10%;
}

.table-bordered {
    margin-top: 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 8px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.btn-s-1 {
    background-color: rgb(28, 189, 100) !important;
    text-align: center !important;
    color: black !important;
    font-weight: bold !important;
    width: 100% !important;
}

.fa-trophy {
    color: rgb(255, 255, 85);
}
